# Exercise - Application (US Baby Names Dataset)

This exercise is aimed at a simulating a data project which includes:
  
  1. File IO
  1. Merging and Data Manipulation
  1. Data Analysis

There are many things you may want to do with the data set:

  1. Visualize the proportion of babies given a particular name
  1. Determine the relative rank of a name
  1. Determine the most popular names in each year or the names with largest rank changes
  1. ...

__Reference:__ 

"Python for Data Analysis" by Wes McKinney

In [41]:
%matplotlib inline
import pandas as pd

## Data Collection

You will need to download the data from: https://www.ssa.gov/oact/babynames/limits.html

Then click on "National data" (8 Mb) to download the file: ``names.zip``

In [11]:
#-Find the Data-#
%pwd

'/Users/matthewmckay/repos/work-quantecon/seminars/2016-chicago-federal-reserve'

In [12]:
fl = "./names/yob1880.txt"

In [13]:
n1880 = pd.read_csv('names/yob1880.txt', names=['name', 'sex', 'births'])

In [14]:
n1880.head()

        name sex  births
0       Mary   F    7065
1       Anna   F    2604
2       Emma   F    2003
3  Elizabeth   F    1939
4     Minnie   F    1746

**[Q]** Given the dataset provided, how many Males and Females were born in 1880?

In [15]:
n1880.groupby('sex').births.sum()

sex
F     90992
M    110490
Name: births, dtype: int64

**[Q]** Given the date range is 1880 to 2015, how would you assemble the data into a single dataframe and add a **year** column?

In [16]:
years = range(1880, 2015+1)

In [23]:
collection = []

In [25]:
for year in years:
    fl = 'names/yob%s.txt' % year
    df = pd.read_csv(fl, names=['name','sex','births'])
    
    # Finish Working
    # Add a Year Column
    # Make a list of pd.DataFrames in collection

Concatenate everything into a single DataFrame

In [26]:
pd.concat?

**[Q]** Compute the total number of male and female births each year [**Hint:** You can use the pivot_table method]

**[Q]** Plot this data as a time series from 1880 to 2015

**[Q]** Insert a column named "prop" with the fraction of babies given each name relative to the total number of births in any given year

In [45]:
def add_prop(group):
    group['prop'] = group.births / group.births.sum()
    return group

It is good practice to check the computations

**[Q]** Check that each group ('year', and 'sex') sums to one

**[Q]** How can you split the dataframe into boys and girls dataframes

**[Q]** Plot the popularity of a name of your choice over time?

**[Q]** Compute the number of unique names in each year? Is name diversity increasing or decreasing?